<launch>
  <param name="denso_description" command="$(find xacro)/xacro.py '$(find denso_arm)/model/denso_arm.urdf.xacro'" />

  <node pkg="denso_arm" name="denso_arm" type="denso_arm" output="screen" />
  <node pkg="denso_arm" name="denso_arm_trajectory" type="follow_trajectory.py" output="screen" />
 
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_denso"
	args="0 0 0 0 0 0 base_link /denso_arm/base 100" />

  <node pkg="robot_state_publisher" type="state_publisher"
	name="denso_robot_state_publisher_pos">
    <remap from="robot_description" to="denso_description"/>
    <remap from="joint_states" to="denso_arm/joint_states" />
    <param name="publish_frequency" type="double" value="40.0" />
    <param name="tf_prefix" type="string" value="denso_arm" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="denso_tip_to_shadowhand"
	args="0 0 0 0 0 0 /denso_arm/tooltip /srh/forearm 100" />
</launch>
