<launch>
  <node pkg="dynamic_reconfigure" type="dynparam" name="dynparam" args="set /camera/driver depth_registration true" />

  <node pkg="tf" type="static_transform_publisher" name="base_to_kinect"
    args="0.751746559436 -0.335668795571 0.411551506396 -0.207512613133 0.146404851465 0.841912797129 0.475902756582 /base_link /camera_link 100"/>

  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />

  <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
  <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager" output="screen">
    <remap from="~input" to="/re_kinect/feature_pcl" />
    <remap from="~output" to="/re_kinect/feature_pcl/filtered" />
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.01
      filter_limit_max: 1.5
      filter_limit_negative: False
      leaf_size: 0.01
    </rosparam>
  </node>

  <node name="cluster_bounding_box_finder" pkg="object_manipulator"
	type="cluster_bounding_box_finder_server.py"
	output="screen"
	respawn="false">
  </node>

  <node pkg="sr_grasp_planner" type="sr_grasp_planner" name="sr_grasp_planner" output="screen" />

  <include file="$(find denso_arm)/launch/denso_arm.launch"/>

  <node pkg="sr_move_arm" type="hand_posture_execution" name="hand_posture_execution" output="screen" />

</launch>
