<launch>

  <!-- start gazebo with an empty plane -->
  <include file="$(find sr_hand)/launch/gazebo/empty_world.launch"/>

  <!-- spawn the arm model -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find sr_hand)/model/robots/xacro/shadowhand_muscle.urdf.xacro'" />
  <node name="spawn_hand" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -z 0.01 -model shadow_model" respawn="false" output="screen" />

  <!-- Controllers for the arm -->
  <rosparam file="$(find sr_hand)/model/hand_urdf/hand_controller.yaml" command="load"/>
  <node name="spawn_wrist_controller" pkg="pr2_controller_manager" type="spawner" args="wrist_controller" respawn="false" output="screen" />
  <node name="spawn_palm_controller" pkg="pr2_controller_manager" type="spawner" args="palm_controller" respawn="false" output="screen" />
  <node name="spawn_ffknuckle_controller" pkg="pr2_controller_manager" type="spawner" args="ffknuckle_controller" respawn="false" output="screen" />
  <node name="spawn_ffproximal_controller" pkg="pr2_controller_manager" type="spawner" args="ffproximal_controller" respawn="false" output="screen" />
  <node name="spawn_ffmiddle_controller" pkg="pr2_controller_manager" type="spawner" args="ffmiddle_controller" respawn="false" output="screen" />
  <node name="spawn_ffdistal_controller" pkg="pr2_controller_manager" type="spawner" args="ffdistal_controller" respawn="false" output="screen" />
  <node name="spawn_mfknuckle_controller" pkg="pr2_controller_manager" type="spawner" args="mfknuckle_controller" respawn="false" output="screen" />
  <node name="spawn_mfproximal_controller" pkg="pr2_controller_manager" type="spawner" args="mfproximal_controller" respawn="false" output="screen" />
  <node name="spawn_mfmiddle_controller" pkg="pr2_controller_manager" type="spawner" args="mfmiddle_controller" respawn="false" output="screen" />
  <node name="spawn_mfdistal_controller" pkg="pr2_controller_manager" type="spawner" args="mfdistal_controller" respawn="false" output="screen" />
  <node name="spawn_rfknuckle_controller" pkg="pr2_controller_manager" type="spawner" args="rfknuckle_controller" respawn="false" output="screen" />
  <node name="spawn_rfproximal_controller" pkg="pr2_controller_manager" type="spawner" args="rfproximal_controller" respawn="false" output="screen" />
  <node name="spawn_rfmiddle_controller" pkg="pr2_controller_manager" type="spawner" args="rfmiddle_controller" respawn="false" output="screen" />
  <node name="spawn_rfdistal_controller" pkg="pr2_controller_manager" type="spawner" args="rfdistal_controller" respawn="false" output="screen" />
  <node name="spawn_lfmetacarpal_controller" pkg="pr2_controller_manager" type="spawner" args="lfmetacarpal_controller" respawn="false" output="screen" />
  <node name="spawn_lfknuckle_controller" pkg="pr2_controller_manager" type="spawner" args="lfknuckle_controller" respawn="false" output="screen" />
  <node name="spawn_lfproximal_controller" pkg="pr2_controller_manager" type="spawner" args="lfproximal_controller" respawn="false" output="screen" />
  <node name="spawn_lfmiddle_controller" pkg="pr2_controller_manager" type="spawner" args="lfmiddle_controller" respawn="false" output="screen" />
  <node name="spawn_lfdistal_controller" pkg="pr2_controller_manager" type="spawner" args="lfdistal_controller" respawn="false" output="screen" />
  <node name="spawn_thbase_controller" pkg="pr2_controller_manager" type="spawner" args="thbase_controller" respawn="false" output="screen" />
  <node name="spawn_thproximal_controller" pkg="pr2_controller_manager" type="spawner" args="thproximal_controller" respawn="false" output="screen" />
  <node name="spawn_thhub_controller" pkg="pr2_controller_manager" type="spawner" args="thhub_controller" respawn="false" output="screen" />
  <node name="spawn_thmiddle_controller" pkg="pr2_controller_manager" type="spawner" args="thmiddle_controller" respawn="false" output="screen" />
  <node name="spawn_thdistal_controller" pkg="pr2_controller_manager" type="spawner" args="thdistal_controller" respawn="false" output="screen" />

</launch>
