<launch>

  <!-- start gazebo with an empty plane -->
  <include file="$(find sr_hand)/launch/gazebo/empty_world.launch"/>

  <!-- spawn the arm model -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find sr_hand)/model/robots/xacro/sr_arm_muscle.urdf.xacro'" />
  <node name="spawn_hand" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -z 0.01 -model shadow_model" respawn="false" output="screen" />

  <!-- Controllers for the arm -->
  <rosparam file="$(find sr_hand)/model/dummy_force_control.yaml" command="load"/>
  <rosparam file="$(find sr_hand)/model/arm_urdf/arm_controller.yaml" command="load"/>

  <node name="spawn_trunk_controller" pkg="pr2_controller_manager" type="spawner" args="sa_sr_position_controller" respawn="false" output="screen" />
  <node name="spawn_shoulder_controller" pkg="pr2_controller_manager" type="spawner" args="sa_ss_position_controller" respawn="false" output="screen" />
  <node name="spawn_elbow_controller" pkg="pr2_controller_manager" type="spawner" args="sa_es_position_controller" respawn="false" output="screen" />
  <node name="spawn_forearm_controller" pkg="pr2_controller_manager" type="spawner" args="sa_er_position_controller" respawn="false" output="screen" />

</launch>
