sr_description/.cproject
sr_description/.project
sr_description/.pydevproject
sr_description/_gtest_from_src/
sr_description/build/
sr_description/cmake_install.cmake
sr_description/lib/
sr_example/.cproject
sr_example/.project
sr_example/.pydevproject
sr_example/build/
sr_example/cmake_install.cmake
sr_gazebo_plugins/.cproject
sr_gazebo_plugins/.project
sr_gazebo_plugins/.pydevproject
sr_gazebo_plugins/build/
sr_gazebo_plugins/cmake_install.cmake
sr_gazebo_plugins/lib/
sr_hand/.cproject
sr_hand/.project
sr_hand/.pydevproject
sr_hand/_gtest_from_src/
sr_hand/bin/examples/link_joints
sr_hand/bin/shadowarm_can
sr_hand/bin/shadowarm_virtual
sr_hand/bin/shadowhand_ethercat
sr_hand/bin/shadowhand_virtual
sr_hand/build/
sr_hand/cmake_install.cmake
sr_hand/lib/
sr_hand/python_lib/grasp/Grasp.pyc
sr_hand/python_lib/grasp/grasps_interpoler.pyc
sr_hand/python_lib/grasp/grasps_parser.pyc
sr_hand/python_lib/shadowhand_ros.pyc
sr_hardware_interface/.cproject
sr_hardware_interface/.project
sr_hardware_interface/.pydevproject
sr_hardware_interface/build/
sr_hardware_interface/cmake_install.cmake
sr_kinematics/.cproject
sr_kinematics/.project
sr_kinematics/.pydevproject
sr_kinematics/bin/
sr_kinematics/build/
sr_kinematics/cmake_install.cmake
sr_mechanism_controllers/.cproject
sr_mechanism_controllers/.project
sr_mechanism_controllers/.pydevproject
sr_mechanism_controllers/_gtest_from_src/
sr_mechanism_controllers/bin/joint_spline_trajectory_action_controller
sr_mechanism_controllers/bin/joint_trajectory_action_controller
sr_mechanism_controllers/bin/simple_spline_trajectory
sr_mechanism_controllers/build/
sr_mechanism_controllers/cmake_install.cmake
sr_mechanism_controllers/lib/
sr_mechanism_controllers/catkin/
sr_mechanism_controllers/catkin_generated/
sr_mechanism_controllers/devel/
sr_mechanism_controllers/gtest/
sr_mechanism_model/.cproject
sr_mechanism_model/.project
sr_mechanism_model/.pydevproject
sr_mechanism_model/build/
sr_mechanism_model/cmake_install.cmake
sr_mechanism_model/lib/
sr_mechanism_model/catkin/
sr_mechanism_model/catkin_generated/
sr_mechanism_model/devel/
sr_mechanism_model/gtest/
sr_move_arm/.cproject
sr_move_arm/.project
sr_move_arm/.pydevproject
sr_move_arm/bin/hand_posture_execution
sr_move_arm/build/
sr_move_arm/cmake_install.cmake
sr_movements/.cproject
sr_movements/.project
sr_movements/.pydevproject
sr_movements/bin/
sr_movements/build/
sr_movements/cmake_install.cmake
sr_movements/lib/
sr_robot_msgs/.cproject
sr_robot_msgs/.project
sr_robot_msgs/.pydevproject
sr_robot_msgs/build/
sr_robot_msgs/cmake_install.cmake
sr_robot_msgs/msg_gen/
sr_robot_msgs/src/
sr_robot_msgs/srv_gen/
sr_tactile_sensors/.cproject
sr_tactile_sensors/.project
sr_tactile_sensors/.pydevproject
sr_tactile_sensors/bin/
sr_tactile_sensors/build/
sr_tactile_sensors/cmake_install.cmake
sr_utilities/.cproject
sr_utilities/.project
sr_utilities/.pydevproject
sr_utilities/_gtest_from_src/
sr_utilities/build/
sr_utilities/cmake_install.cmake
sr_utilities/lib/
sr_utilities/src/sr_utilities/
sr_utilities/srv_gen/
sr_hand/catkin/
sr_hand/catkin_generated/
sr_hand/devel/
sr_hand/gtest/
sr_self_test/bin/
sr_self_test/build/
sr_self_test/lib/
*.backup
*~
*.pyc

#PyCharm project
.idea