<launch>
  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />

  <!-- removes the outliers -->
  <node pkg="nodelet" type="nodelet" name="outlier_removal" args="load pcl/StatisticalOutlierRemoval pcl_manager" output="screen">
    <remap from="~input" to="/camera/depth/points" />
    <rosparam>
      mean_k: 50
      stddev: 1.0
      negative: False
    </rosparam>
  </node>

  <!-- Run a passthrough filter to get a smaller point cloud -->
  <node pkg="nodelet" type="nodelet" name="passthrough" args="load pcl/PassThrough pcl_manager" output="screen">
    <remap from="~input" to="/outlier_removal/output" />
    <rosparam>
      filter_field_name: x
      filter_limit_min: 0.0
      filter_limit_max: 1.5
      filter_limit_negative: False
    </rosparam>
    <rosparam>
      filter_field_name: y
      filter_limit_min: 0.0
      filter_limit_max: 1.5
      filter_limit_negative: False
    </rosparam>
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.0
      filter_limit_max: 1.5
      filter_limit_negative: False
    </rosparam>
  </node>
</launch>