<launch>

    <node pkg="tabletop_object_detector" name="tabletop_node" type="tabletop_node" respawn="false" output="screen" machine="dataprocessing">
      <!-- object recognition -->
      <param name="use_database" value="false"/>
      <param name="get_model_mesh_srv" value="/objects_database_node/get_model_mesh"/>
      <param name="get_model_list_srv" value="/objects_database_node/get_model_list"/>

      <!--operational parameters-->
      <param name="perform_fit_merge" value="true" />
      <param name="fit_merge_threshold" value="0.05" />
      
      <!-- which debug markers will be published-->
      <param name="publish_table_marker" value="true" />
      <param name="publish_cluster_markers" value="true" />
      <param name="publish_good_fit_markers" value="true" />
      <param name="publish_bad_fit_markers" value="false" />
      
      <!--topic remapping-->
      <remap from="cloud_old_in" to="kinect/points2" />
      <remap from="cloud_new_in" to="kinect/points2" />
      <remap from="object_detection_srv" to="object_detection" />
      <remap from="markers_out" to="tabletop_detector_markers" />
      
      <!-- processing and filtering frame -->
      <!-- remove this entire block and processing and filtering will -->
      <!-- be done with default settings, in the incoming cloud frame -->
      <param name="processing_frame" value="kinect_depth" />
      <param name="up_direction" value="1.0" />
      <param name="z_filter_min" value="0.35" />
      <param name="z_filter_max" value="1.0" />
      <param name="table_z_filter_min" value="0.01" />
      <param name="table_z_filter_max" value="0.5" />		
    </node>

</launch>

