<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- muscle is true for muscle hand or false for motor hand -->
  <!-- prefix can be anything but usually is "r_" or  "l_" for right and left hands distinction -->
  <xacro:macro name="middle_transmission" params="muscle prefix joint_prefix" >

   <!-- muscle hand -->
    <xacro:if value="${muscle}">
      <transmission type="sr_mechanism_model/J0TransmissionForMuscle" name="${prefix}middle_transmission">
      <actuator name="${prefix}${joint_prefix}J0" />
      <joint1 name="${prefix}${joint_prefix}J1" />
      <joint2 name="${prefix}${joint_prefix}J2" />
        <mechanicalReduction>1</mechanicalReduction>
        <motorTorqueConstant>1</motorTorqueConstant>
        <pulsesPerRevolution>90000</pulsesPerRevolution>
      </transmission>
    </xacro:if> 
    <!-- motor hand -->
    <xacro:unless value="${muscle}">
      <transmission type="sr_mechanism_model/J0Transmission" name="${prefix}middle_transmission">
      <actuator name="${prefix}${joint_prefix}J0" />
      <joint1 name="${prefix}${joint_prefix}J1" />
      <joint2 name="${prefix}${joint_prefix}J2" />
        <mechanicalReduction>1</mechanicalReduction>
        <motorTorqueConstant>1</motorTorqueConstant>
        <pulsesPerRevolution>90000</pulsesPerRevolution>
      </transmission>
    </xacro:unless> 
  </xacro:macro>
</robot>
