<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#slider"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <macro name="sr_hand_finger_transmission" params="joint_name">

    <!-- Compund Joint (from joint 1 and 2) -->
    <transmission type="pr2_mechanism_model/SimpleTransmission" name="${joint_name}j0_joint_trans">
      <actuator name="srh_${joint_name}j0" />
      <joint name="srh_${joint_name}j0_joint" />
      <mechanicalReduction>1.0</mechanicalReduction>
    </transmission>

    <!-- Joint 3 -->
    <transmission type="pr2_mechanism_model/SimpleTransmission" name="${joint_name}j3_joint_trans">
      <actuator name="srh_${joint_name}j3" />
      <joint name="srh_${joint_name}j3_joint" />
      <mechanicalReduction>1.0</mechanicalReduction>
    </transmission>

    <!-- Joint 4 -->
    <transmission type="pr2_mechanism_model/SimpleTransmission" name="${joint_name}j4_joint_trans">
      <actuator name="srh_${joint_name}j4" />
      <joint name="srh_${joint_name}j4_joint" />
      <mechanicalReduction>1.0</mechanicalReduction>
    </transmission>

  </macro>


  <macro name="sr_hand_littlefinger_transmission">

    <sr_hand_finger_transmission joint_name="lf" />

    <!-- Joint 5 (extra joint in little-finger) -->
    <transmission type="pr2_mechanism_model/SimpleTransmission" name="lfj5_joint_trans">
      <actuator name="srh_lfj5" />
      <joint name="srh_lfj5_joint" />
      <mechanicalReduction>1.0</mechanicalReduction>
    </transmission>

  </macro>


  <macro name="sr_hand_thumb_transmission" params="joint_name">

    <!-- Thumb Joints -->

    <transmission type="pr2_mechanism_model/SimpleTransmission" name="${joint_name}j1_joint_trans">
      <actuator name="srh_${joint_name}j1" />
      <joint name="srh_${joint_name}j1_joint" />
      <mechanicalReduction>1.0</mechanicalReduction>
    </transmission>

    <transmission type="pr2_mechanism_model/SimpleTransmission" name="${joint_name}j2_joint_trans">
      <actuator name="srh_${joint_name}j2" />
      <joint name="srh_${joint_name}j2_joint" />
      <mechanicalReduction>1.0</mechanicalReduction>
    </transmission>

    <transmission type="pr2_mechanism_model/SimpleTransmission" name="${joint_name}j3_joint_trans">
      <actuator name="srh_${joint_name}j3" />
      <joint name="srh_${joint_name}j3_joint" />
      <mechanicalReduction>1.0</mechanicalReduction>
    </transmission>

    <transmission type="pr2_mechanism_model/SimpleTransmission" name="${joint_name}j4_joint_trans">
      <actuator name="srh_${joint_name}j4" />
      <joint name="srh_${joint_name}j4_joint" />
      <mechanicalReduction>1.0</mechanicalReduction>
    </transmission>

    <transmission type="pr2_mechanism_model/SimpleTransmission" name="${joint_name}j5_joint_trans">
      <actuator name="srh_${joint_name}j5" />
      <joint name="srh_${joint_name}j5_joint" />
      <mechanicalReduction>1.0</mechanicalReduction>
    </transmission>

  </macro>


  <macro name="sr_hand_wrist_transmission" params="joint_name">

    <!-- Wrist -->

    <transmission type="pr2_mechanism_model/SimpleTransmission" name="${joint_name}j1_joint_trans">
      <actuator name="srh_${joint_name}j1" />
      <joint name="srh_${joint_name}j1_joint" />
      <mechanicalReduction>1.0</mechanicalReduction>
    </transmission>

    <transmission type="pr2_mechanism_model/SimpleTransmission" name="${joint_name}j2_joint_trans">
      <actuator name="srh_${joint_name}j2" />
      <joint name="srh_${joint_name}j2_joint" />
      <mechanicalReduction>1.0</mechanicalReduction>
    </transmission>

  </macro>


</robot>
