<launch>

  <!-- start gazebo with an empty plane -->
  <param name="/use_sim_time" value="true" />
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find sr_hand)/model/robots/xacro/sr_arm_motor.urdf.xacro'" />

  <node name="gazebo" pkg="gazebo" type="gazebo" args="$(find sr_hand)/gazebo/empty.world" respawn="false" output="screen"/>

</launch>
