<launch>
<group ns="/kinect_segmentation">
    <!-- PCL Manager -->
    <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" output="screen"/>

    <!-- Black line on A4 on the table detection (daytime light)     -->
    <node pkg="nodelet" type="nodelet" name="KinectColorSegmentation" args="load sr_kinect/KinectColorSegmentation camera_nodelet_manager" output="screen">
        <remap from="cloud_in" to="/camera/depth_registered/points"/>
        <rosparam>
            filter_max_r: 220
            filter_min_r: 90
            filter_max_g: 220
            filter_min_g: 90
            filter_max_b: 220
            filter_min_b: 90
            filter_max_x: 0.22
            filter_min_x: -0.03
            filter_max_y: 0.0
            filter_min_y: -0.5
            filter_max_z: 1.0
            filter_min_z: 0.85
        </rosparam>
    </node>

    <node pkg="nodelet" type="nodelet" name="statistical_outlier_removal" args="load pcl/StatisticalOutlierRemoval camera_nodelet_manager" output="screen">
      <remap from="~input" to="/kinect_segmentation/KinectColorSegmentation/output" />
      <rosparam>
        mean_k: 100 
        stddev: 20.0 
        negative: False 
      </rosparam>
    </node>

   <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid camera_nodelet_manager" output="screen">
    <remap from="~input" to="/kinect_segmentation/statistical_outlier_removal/output" />
    <rosparam>
      filter_limit_min: 0.01
      filter_limit_max: 1.5
      filter_limit_negative: False
      leaf_size: 0.018
    </rosparam>
    </node>

    <node pkg="nodelet" type="nodelet" name="PointSequenceDetection" args="load sr_kinect/PointSequenceDetection camera_nodelet_manager" output="screen">
        <remap from="cloud_in" to="/kinect_segmentation/voxel_grid/output"/>
      <rosparam>
      </rosparam>
    </node>

    <!-- Black line on A4 on the table detection (daytime morning light) 
    <node pkg="nodelet" type="nodelet" name="KinectColorSegmentation" args="load sr_kinect/KinectColorSegmentation camera_nodelet_manager" output="screen">
        <remap from="cloud_in" to="/camera/depth_registered/points"/>
        <rosparam>
            filter_max_r: 240
            filter_min_r: 60
            filter_max_g: 240
            filter_min_g: 60
            filter_max_b: 240
            filter_min_b: 60
            filter_max_x: 0.22
            filter_min_x: -0.03
            filter_max_y: 0.0
            filter_min_y: -0.5
            filter_max_z: 1.0
            filter_min_z: 0.85
        </rosparam>
    </node>
    -->
    <!-- Black line on A4 on the table detection (night time light)
    <node pkg="nodelet" type="nodelet" name="KinectColorSegmentation" args="load sr_kinect/KinectColorSegmentation camera_nodelet_manager" output="screen">
        <remap from="cloud_in" to="/camera/depth_registered/points"/>
        <rosparam>
            filter_max_r: 220
            filter_min_r: 100
            filter_max_g: 220
            filter_min_g: 100
            filter_max_b: 220
            filter_min_b: 100
            filter_max_x: 0.22
            filter_min_x: -0.03
            filter_max_y: 0.0
            filter_min_y: -0.5
            filter_max_z: 1.0
            filter_min_z: 0.85
        </rosparam>
    </node>
    -->
    <!-- RED detection
    <node pkg="nodelet" type="nodelet" name="KinectColorSegmentation" args="load sr_kinect/KinectColorSegmentation camera_nodelet_manager" output="screen">
        <remap from="cloud_in" to="/camera/depth_registered/points"/>
        <rosparam>
            filter_max_r: 255
            filter_min_r: 100
            filter_max_g: 70
            filter_min_g: 0
            filter_max_b: 70
            filter_min_b: 0
            filter_max_x: 2.5
            filter_min_x: 0.0
            filter_max_y: 0.0
            filter_min_y: -2.5
            filter_max_z: 2.5
            filter_min_z: 0.0
        </rosparam>
    </node>
    -->
</group>

</launch>
