<launch>
  <include file="$(find sr_object_manipulation_launch)/machines/household_database.machine"/>

  <!-- load database connection parameters -->
  <rosparam command="load"  file="$(find sr_object_manipulation_launch)/config/household_object_server.yaml"/>

  <!-- start the database wrapper node -->
  <node pkg="household_objects_database" name="objects_database_node"  type="objects_database_node"
	respawn="false" output="screen" machine="household_database">
    <remap from="robot_description" to="hand_description"/>
  </node>

</launch>
