<launch>

  <group ns="/pcl_filters">
    <!-- PCL Manager -->
    <node pkg="nodelet" type="nodelet" name="box_filter_pcl_manager" args="manager" output="screen"/>

    <!-- Run a passthrough filter to delimit in x direction -->
    <node pkg="nodelet" type="nodelet" name="psx" args="load pcl/PassThrough box_filter_pcl_manager" output="screen">
      <remap from="~input" to="/camera/depth/points" />
      <rosparam>
        filter_field_name: x
        filter_limit_min: -.8
        filter_limit_max: 0.5
      </rosparam>
    </node>

    <!-- Run a passthrough filter to delimit in y direction -->
    <node pkg="nodelet" type="nodelet" name="psy" args="load pcl/PassThrough box_filter_pcl_manager" output="screen">
      <remap from="~input" to="psx/output" />
      <rosparam>
        filter_field_name: y
        filter_limit_min: -1.
        filter_limit_max: .3
      </rosparam>
    </node>

    <!-- Run a passthrough filter to delimit in z direction -->
    <node pkg="nodelet" type="nodelet" name="psz" args="load pcl/PassThrough box_filter_pcl_manager" output="screen">
      <remap from="~input" to="psy/output" />
      <rosparam>
        filter_field_name: z
        filter_limit_min: 0.6
        filter_limit_max: 1.1
      </rosparam>
    </node>

    <!-- removes the outliers -->
    <node pkg="nodelet" type="nodelet" name="rm_outliers" args="load pcl/StatisticalOutlierRemoval box_filter_pcl_manager" output="screen">
      <remap from="~input" to="psz/output" />
      <remap from="~output" to="fully_filtered" />
      <rosparam>
        mean_k: 50
        stddev: 1.0
        negative: False
      </rosparam>
    </node>
  </group>
</launch>
