<launch>
<!--  <include file="$(find sr_object_manipulation_launch)/machines/household_database.machine"/> -->


  <arg name="tabletop_segmentation_points_in" default="/pcl_filters/fully_filtered" />

  <node pkg="tabletop_object_detector" name="tabletop_segmentation" type="tabletop_segmentation" respawn="false" output="screen">
    <!--topic remapping-->
    <remap from="cloud_in" to="$(arg tabletop_segmentation_points_in)" />
    <remap from="segmentation_srv" to="tabletop_segmentation" />
    <remap from="markers_out" to="tabletop_segmentation_markers" />

    <!-- processing and filtering frame -->
    <!-- remove this entire block and processing and filtering will -->
    <!-- be done with default settings, in the incoming cloud frame -->
    <param name="processing_frame" value="openni_camera" />
    <param name="up_direction" value="-1.0" />
    <param name="z_filter_min" value="0.01" />
    <param name="z_filter_max" value="1.0" />
    <param name="table_z_filter_min" value="0.01" />
    <param name="table_z_filter_max" value="0.5" />
<!--    <param name="processing_frame" value="/base_link" />
    <param name="up_direction" value="-1.0" />
    <param name="z_filter_min" value="0.01" />
    <param name="z_filter_max" value="1.5" />
    <param name="table_z_filter_min" value="0.01" />
    <param name="table_z_filter_max" value="1.0" />
-->
  </node>

  <node pkg="tabletop_object_detector" name="tabletop_object_recognition"
	type="tabletop_object_recognition" respawn="false" output="screen">
    <!--operational parameters-->
    <param name="perform_fit_merge" value="true" />
    <param name="fit_merge_threshold" value="0.05" />
    <param name="min_marker_quality" value="0.003" />

    <!--topic remapping-->
    <remap from="object_recognition_srv" to="tabletop_object_recognition" />
    <remap from="markers_out" to="tabletop_object_recognition_markers" />

    <!--database parameters-->
    <!--NOTE: this launch file does not start the database wrapper node-->
    <!--that must be done externally-->
    <param name="model_set" value="REDUCED_MODEL_SET" />
    <param name="get_model_list_srv" value="/objects_database_node/get_model_list" />
    <param name="get_model_mesh_srv" value="/objects_database_node/get_model_mesh" />
  </node>

  <!--complete node -->
  <node pkg="tabletop_object_detector" name="tabletop_complete_node" type="tabletop_complete_node"
	respawn="false" output="screen"/>

</launch>

