<launch>
  <!-- shadowhand to cybergrasp remapper -->
  <node pkg="sr_remappers" name="cyberglove_remapper"
	type="cyberglove_remapper">
    <param name="cyberglove_prefix" type="string"
    value="/cyberglove/" />
    <param name="sendupdate_prefix" type="string"
    value="/srh/" />
    <param name="cyberglove_mapping_path" type="string" value="$(find sr_control_gui)/param/GloveToHandMappings_generic" />
  </node>
</launch>

