<launch>
  <node pkg="rviz" name="rviz_visualizer" type="rviz"/>

  <group if="$(optenv ONE_FINGER 0)">
    <param name="hand_description" command="$(find xacro)/xacro.py '$(find sr_hand)/model/robots/xacro/sr_one_finger_motor.urdf.xacro'" />
  </group>
  <group unless="$(optenv ONE_FINGER 0)">
      <group if="$(optenv LEFT_HAND 0)">
        <param name="hand_description" command="$(find xacro)/xacro.py '$(find sr_hand)/model/robots/xacro/shadowhand_left_motor.urdf.xacro'" />
      </group>
      <group unless="$(optenv LEFT_HAND 0)">
        <param name="hand_description" command="$(find xacro)/xacro.py '$(find sr_hand)/model/robots/xacro/shadowhand_motor.urdf.xacro'" />
      </group>
  </group>

  <param name="arm_description" command="$(find xacro)/xacro.py '$(find sr_hand)/model/robots/xacro/sr_arm_motor.urdf.xacro'" />

</launch>
