<launch>
  <arg name="hand_urdf" default="$(find sr_description)/robots/shadowhand_motor.urdf.xacro" />
  <arg name="hand_srdf" default="$(find sr_moveit_config)/config/shadowhand_motor.srdf" />

 # The planning and execution components of MoveIt! configured to
 # publish the current configuration of the robot (simulated or real)
 # and the current state of the world as seen by the planner
 <include file="$(find sr_moveit_config)/launch/move_group.launch">
  <arg name="publish_monitored_planning_scene" value="true" />
  <arg name="hand_urdf" value="$(arg hand_urdf)" />
  <arg name="hand_srdf" value="$(arg hand_srdf)" />
 </include>

</launch>
