<launch>

  <rosparam file="$(find sr_description)/arm/config/arm_controller.yaml" command="load"/>

  <node name="spawn_gazebo_arm_controllers_extended"
	pkg="pr2_controller_manager" type="spawner" respawn="false" output="screen"
	args="r_arm_cartesian_pose_controller r_arm_joint_trajectory_controller"/>

</launch>