<launch>
  <rosparam file="$(find sr_description)/arm/config/arm_controller.yaml"
  command="load" />
  <node name="spawn_gazebo_arm_controllers_extended"
  pkg="controller_manager" type="spawner" respawn="false"
  output="screen"
  args="--shutdown-timeout=1.0 r_arm_joint_trajectory_controller" />
</launch>
