<launch>
  <!-- start gazebo with an empty plane -->
  <param name="/use_sim_time" value="true" />

  <node name="gazebo" pkg="gazebo_ros" type="gzserver" args=" $(find sr_description)/other/worlds/empty.world" respawn="false" output="screen">
    <remap from="joint_states" to="/gazebo/joint_states"/>
    <param name="image_path" value="$(find sr_movements)/movements/test.png"/>
  </node>

  <group unless="$(optenv GAZEBO_NO_X 0)">
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>
  </group>

  <!-- publishes joint states with ros_control -->
  <node name="joint_state_controller">
	pkg="controller_manager" type="spawner" respawn="false" output="screen"
	args="joint_state_controller"
  	<rosparam>
      joint_state_controller:
        type: joint_state_controller/JointStateController
        publish_rate: 100
    </rosparam>
  </node>

</launch>
