<launch>

  <!-- start gazebo with an empty plane -->
  <param name="/use_sim_time" value="true" />


  <node name="gazebo" pkg="gazebo" type="gazebo" args="$(find gazebo_worlds)/worlds/empty.world" respawn="false" output="screen"/>

  <group unless="$(optenv GAZEBO_NO_X 0)">
    <node name="gazebo_gui" pkg="gazebo" type="gui" respawn="false" output="screen"/>
  </group>
</launch>
