<launch>
  <arg name="prefix" default="rh_" />
  <arg name="hand_controller_gazebo"
  default="$(find sr_description)/hand/config/$(arg prefix)controller_gazebo.yaml" />
  <arg name="hand_effort_controller_gazebo"
  default="$(find sr_description)/hand/config/hand_effort_controller_gazebo.yaml" />
  <rosparam file="$(arg hand_controller_gazebo)" command="load" />
  <rosparam file="$(arg hand_effort_controller_gazebo)"
  command="load" />
  <group if="$(optenv ONE_FINGER 0)">
    <node name="spawn_gazebo_hand_controllers"
    pkg="controller_manager" type="spawner" respawn="false"
    output="screen"
    args="--shutdown-timeout=1.0 sh_mfj0_position_controller sh_mfj3_position_controller sh_mfj4_position_controller" />
  </group>
  <group unless="$(optenv ONE_FINGER 0)">
    <group if="$(optenv THREE_FINGER 0)">
      <node name="spawn_gazebo_hand_controllers"
      pkg="controller_manager" type="spawner" respawn="false"
      output="screen"
      args="--shutdown-timeout=1.0 sh_$(arg prefix)ffj0_position_controller sh_$(arg prefix)ffj3_position_controller sh_$(arg prefix)ffj4_position_controller sh_$(arg prefix)rfj0_position_controller sh_$(arg prefix)rfj3_position_controller sh_$(arg prefix)rfj4_position_controller sh_$(arg prefix)thj1_position_controller sh_$(arg prefix)thj2_position_controller sh_$(arg prefix)thj3_position_controller sh_$(arg prefix)thj4_position_controller sh_$(arg prefix)thj5_position_controller sh_$(arg prefix)wrj1_position_controller sh_$(arg prefix)wrj2_position_controller" />
    </group>
    <group unless="$(optenv THREE_FINGER 0)">
      <node name="spawn_gazebo_hand_controllers"
      pkg="controller_manager" type="spawner" respawn="false"
      output="screen"
      args="--shutdown-timeout=1.0 sh_$(arg prefix)ffj0_position_controller sh_$(arg prefix)ffj3_position_controller sh_$(arg prefix)ffj4_position_controller sh_$(arg prefix)mfj0_position_controller sh_$(arg prefix)mfj3_position_controller sh_$(arg prefix)mfj4_position_controller sh_$(arg prefix)rfj0_position_controller sh_$(arg prefix)rfj3_position_controller sh_$(arg prefix)rfj4_position_controller sh_$(arg prefix)lfj0_position_controller sh_$(arg prefix)lfj3_position_controller sh_$(arg prefix)lfj4_position_controller sh_$(arg prefix)lfj5_position_controller sh_$(arg prefix)thj1_position_controller sh_$(arg prefix)thj2_position_controller sh_$(arg prefix)thj3_position_controller sh_$(arg prefix)thj4_position_controller sh_$(arg prefix)thj5_position_controller sh_$(arg prefix)wrj1_position_controller sh_$(arg prefix)wrj2_position_controller" />
    </group>
  </group>
</launch>
