<?xml version="1.0"?>
<robot name="SRH">

  <link name="world"/>
  
  <include filename="$(find sr_edc_defs)/defs/hand/hand_defs.urdf.xacro" />

  <pr2_sr_edc_hand name="shadow_hand" side="r" parent="world"
               screw_reduction="${2.0/1000.0}" gear_ratio="${29.16}"
               theta0="${2.97571*M_PI/180.0}"
               phi0="${29.98717*M_PI/180.0}"
               t0="${-0.19543/1000.0}"
               L0="${34.70821/1000.0}"
               h="${5.200/1000.0}"
               a="${67.56801/1000.0}"
               b="${48.97193/1000.0}"
               r="${91.50000/1000.0}" >
    <origin xyz="0 0 0" rpy="0 0 0" />
  </pr2_sr_edc_hand>

</robot>
