<launch>

  <rosparam command="load" file="$(find sr_edc_controller_configuration)/sr_edc_joint_velocity_controllers.yaml" />

<!-- - -wait-for=/calibrated -->
  <node name="default_loaded_controllers_spawner"
        pkg="pr2_controller_manager" type="spawner" output="screen"
        args="--wait-for=/calibrated sh_ffj0_velocity_controller sh_ffj3_velocity_controller sh_ffj4_velocity_controller sh_mfj0_velocity_controller sh_mfj3_velocity_controller sh_mfj4_velocity_controller sh_rfj0_velocity_controller sh_rfj3_velocity_controller sh_rfj4_velocity_controller sh_lfj0_velocity_controller sh_lfj3_velocity_controller sh_lfj4_velocity_controller sh_lfj5_velocity_controller sh_thj1_velocity_controller sh_thj2_velocity_controller sh_thj3_velocity_controller sh_thj4_velocity_controller sh_thj5_velocity_controller sh_wrj1_velocity_controller sh_wrj2_velocity_controller" />

</launch>
