<launch>

  <rosparam command="load" file="$(find sr_robot_lib)/config/friction_compensation.yaml" />
  <rosparam command="load" file="$(find sr_edc_controller_configuration)/sr_edc_joint_position_controllers.yaml" />

<!-- - -wait-for=/calibrated -->
  <node name="default_loaded_controllers_spawner"
        pkg="pr2_controller_manager" type="spawner" output="screen"
        args="--wait-for=/calibrated sh_ffj0_position_controller sh_ffj3_position_controller sh_ffj4_position_controller sh_mfj0_position_controller sh_mfj3_position_controller sh_mfj4_position_controller sh_rfj0_position_controller sh_rfj3_position_controller sh_rfj4_position_controller sh_lfj0_position_controller sh_lfj3_position_controller sh_lfj4_position_controller sh_lfj5_position_controller sh_thj1_position_controller sh_thj2_position_controller sh_thj3_position_controller sh_thj4_position_controller sh_thj5_position_controller sh_wrj1_position_controller sh_wrj2_position_controller" />

</launch>
