<launch>

<!--  <include file="$(find sr_edc_controller_configuration)/sr_edc_velocity_controllers.launch" /> -->
 <include file="$(find sr_edc_controller_configuration)/sr_edc_position_controllers.launch" />

<!-- <include file="$(find sr_edc_controller_configuration)/sr_edc_effort_controllers.launch" /> -->

</launch>
