<!-- starts the synchronization of cameras -->
<launch>

<node name="camera_sync" pkg="optical_synchronizer" type="camera_synchronizer" respawn="true">
	<param name="left_async" type="string" value="/stereo/left_async/image_raw" />
	<param name="right_async" type="string" value="/stereo/right_async/image_raw" />
	<param name="left_sync" type="string" value="/stereo/left/image_raw" />
	<param name="right_sync" type="string" value="/stereo/right/image_raw" />
	<param name="frequency" type="double" value="15"/>
	<param name="left_info_async" type="string" value="/stereo/left_async/camera_info" />
	<param name="right_info_async" type="string" value="/stereo/right_async/camera_info" />
	<param name="left_info_sync" type="string" value="/stereo/left/camera_info" />
	<param name="right_info_sync" type="string" value="/stereo/right/camera_info" />
	<param name="right_offset" type="int" value="100" />
</node>

<node name="image_processor" pkg="stereo_image_proc" type="stereo_image_proc" ns="stereo" />

<node name="left_viewer" pkg="image_view" type="image_view">
    <remap from="image" to="stereo/left/image_rect_color" />
</node>

<node name="right_viewer" pkg="image_view" type="image_view">
    <remap from="image" to="stereo/right/image_rect_color" />
</node>

</launch>
