<launch>
  <env name="GAZEBO_NO_X" value="1"/>

  <!-- start the arm and hand gazebo interface -->
  <include file="$(find sr_hand)/launch/gazebo/gazebo_arm_and_hand_motor.launch"/>

  <!-- start the arm and hand -->
  <include file="$(find sr_hand)/launch/sr_arm_motor.launch"/>

  <!-- test the publish rates -->
  <test test-name="hztest_sr_hand_and_arm_gazebo_motor_1" pkg="sr_tests" type="hztest.py" time-limit="180" name="hztest_sr_hand_and_arm_gazebo_motor_1">
  </test>
</launch>