<launch>


  <!-- start the arm and hand Gazebo interface -->
  <include file="$(find sr_hand)/launch/gazebo/gazebo_arm_and_hand_motor.launch"/>

  <!-- start the arm and hand -->
  <include file="$(find sr_hand)/launch/sr_arm_motor.launch"/>

  <!-- test the publish rates for the arm -->
  <test test-name="hztest_sr_hand_and_arm_gazebo_motor_2" pkg="sr_tests" type="hztest.py" time-limit="180" name="hztest_sr_hand_and_arm_gazebo_motor_2">
    <param name="wait_for_topic" value="/thproximal_controller/state"/>
    <param name="topic" value="/sr_arm/shadowhand_data"/>
    <param name="publish_topic" value="/sr_arm/sendupdate"/>
    <param name="wait_for_topic" value=""/>
  </test>
</launch>