<robot xmlns:xacro="http://ros.org/wiki/xacro" name="arm_and_hand">

  <include filename="$(find sr_hand)/model/materials.urdf.xacro" />
  <include filename="$(find sr_hand)/model/arm_urdf/full_arm_muscle.urdf.xacro" />
  <include filename="$(find sr_hand)/model/hand_urdf/full_hand_muscle.urdf.xacro" />
  <include filename="$(find sr_hand)/model/gazebo/gazebo.urdf.xacro" />
  <include filename="$(find sr_hand)/model/desk/desk.urdf.xacro" />

  <xacro:desk/>

  <joint name="base_fix" type="fixed">
    <parent link="desk_pillar"/>
    <child link="shadowarm_base"/>
    <origin rpy="0 0 0" xyz="0 0 1.0"/>
  </joint>

  <xacro:sr_arm_muscle>
  </xacro:sr_arm_muscle>

  <joint name="arm_link" type="revolute">
    <parent link="shadowarm_handsupport_muscle"/>
    <child link="forearm_muscle"/>
    <origin xyz="0 0 0" rpy="0 0 ${M_PI}" />
    <axis xyz="0 -1 0" />
    <limit lower="0" upper="0" effort="10"
    velocity="1.0" />
    <dynamics damping="3.5"/>
  </joint>

  <xacro:shadowhand_muscle>
  </xacro:shadowhand_muscle>

</robot>
